.app-container {
    max-height: 100%;
    height: fit-content;
}

.focused-container {
    position: relative;
    top: 40%;
    display: flex;
    height: 50px;
}
.wrapper-container {
    font-size: 24px;
}
.inserted-container {
    position: relative;
    top: -70px;
    background-color: white;
    opacity: 0.5;
    width: fit-content;
}
.text-success {
    padding-right: 5px;
}
.inputs {
    padding: 0px;
    margin: 0px;
}